.header {
  text-transform: uppercase;
  font-size: 14px;
  color: #7d7d7d;
  font-family: $headerFont;
  font-weight: 500;

  &__placeholder {
    @media (max-width: $breakpoint1) {
      display: none;
    }
  }

  &__container {
    display: flex;
    padding: 34px 0;
    align-items: center;
    justify-content: space-between;
    border-bottom: #c1cdb8 double 4px;
    @media (max-width: $breakpoint1) {
      justify-content: space-between;
    }
  }

  &__menu {
    display: flex;
    justify-content: center;
    @media (max-width: $breakpoint1) {
      order: 0;
      flex: 0;
      margin-left: 0;
    }
  }
}

.menu {
  & > .menu {
    display: none;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  &__list {
    display: flex;
    flex-direction: row;
    transition: 0.3s;
    letter-spacing: 1px;
    @media (max-width: $breakpoint1) {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      flex-direction: column;
      top: 100px;
      padding: 25px;
      left: 0;
      right: 0;
      width: 100%;
      z-index: 99;
      background-color: $mainColor;
      color: #fff;
    }

    .menu-item {
      position: relative;
      padding: 0 16px;
      @media (max-width: $breakpoint1) {
        padding: 15px 10px;
        font-size: 16px;
      }
    }
    li:hover {
      color: #000000;
      @media (max-width: $breakpoint1) {
        color: #fff;
      }
    }
    .current-menu-item {
      color: #000000;
      @media (max-width: $breakpoint1) {
        color: #fff;
        border-left: solid 4px #536c42;
      }
    }
  }

  .menu__list_active {
    visibility: visible;
    opacity: 1;
  }

  .sub-menu {
    position: absolute;
    left: -20px;
    visibility: hidden;
    opacity: 0;
    padding: 16px 14px;
    background-color: $mainColor;
    color: #fff;
    width: 180px;
    transition: 0.5s;
    z-index: 10;
    @media (max-width: $breakpoint1) {
      position: relative;
      visibility: visible;
      opacity: 1;
      left: 5px;
      padding: 10px 10px;
    }
    .menu-item {
      position: relative;
      padding: 0;
    }
    li:hover {
      color: inherit;
    }
    .current-menu-item > a:first-child {
      color: #fff;
      border-left: solid 4px #536c42;
    }
    .sub-menu {
      position: absolute;
      left: 170px;
      top: 0px;
      visibility: hidden;
      opacity: 0;
      padding: 16px 14px;
      background-color: $mainColor;
      color: #fff;
      width: 180px;
      transition: 0.5s;
      @media (max-width: $breakpoint1) {
        position: relative;
        visibility: visible;
        opacity: 1;
        left: 5px;
        padding: 0px 15px;
      }

      li {
        border: solid 1px #536c4200;
      }
      li:hover {
        color: inherit;
      }
      .current-menu-item a {
        color: #fff;
        border-left: solid 4px #536c42;
      }
    }
    li {
      a {
        border: solid 1px #536c4200;
        padding: 10px 10px;
        font-weight: 300;
        font-size: 15px;
        display: block;
        width: 100%;
        &:hover {
          border: solid 1px #536c42;
        }
      }
    }
  }
}

.not-active {
  display: none;
}

.menu-item-has-children {
  position: absolute;
  right: 0;
  transition: 0.5s;
  margin-right: 10px;
  &:hover {
    & > .sub-menu {
      visibility: visible;
      opacity: 1;
    }
  }

  .menu-item-has-children::after {
    transform: rotate(-90deg);
    position: absolute;
    top: 12px;
    right: 16px;
    &:hover::after {
      transform: rotate(-180deg);
    }
  }

  @media (max-width: $breakpoint1) {
    border: solid 1px #536c4200;
  }
}

.menu-item-has-children::after {
  display: inline-block;
  content: url('../img/menuArrow.png');
  position: absolute;
  right: -4px;
  top: -1px;
  transition: 0.5s;
  @media (max-width: $breakpoint1) {
    display: none;
  }
}
.menu-item-has-children:hover::after {
  transform: rotate(180deg) translateY(-2px);
}

.menu__item_active {
  color: #000000;
}

.has-sub-submenu {
  position: relative;
  transition: 0.5s;
  &:hover {
    .menu__subsub {
      visibility: visible;
      opacity: 1;
    }
  }
}
