.mainpage-text {
  text-align: center;

  p {
    text-transform: uppercase;
  }
}

.socialBlock {
  text-align: center;
  margin-bottom: 50px;
  img {
    margin: 0 15px;
    transition: 0.5s;
  }
  img:hover {
    transform: scale(1.1);
  }
}

.block {
  background-color: $mainColor;
  font-family: $headerFont;
  font-weight: 300;
  color: #fff;
  text-align: center;
  padding: 25px;
  font-size: 28px;
  margin-bottom: 50px;
  &__inner {
    border: solid 1px gray;
    padding: 30px;
    span {
      font-style: italic;
    }
  }
}
