@import './swiperjs_main';

.slider {
  position: relative;
  margin-top: 30px;
  margin-bottom: 50px;
  img {
    width: inherit;
  }
}

.swiper-button-next {
  @media (max-width: $breakpoint1) {
    display: none;
  }
}
.swiper-button-prev {
  @media (max-width: $breakpoint1) {
    display: none;
  }
}
