//main colors
$textColor: #7d7d7d;
$textFont: 'Lato', sans-serif;
$headerColor: #262626;
$headerFont: 'Playfair Display', serif;
$mainColor: #3f5b2c;

$color3: #ba69dd;
$color4: #f3e86d;

$headerHeight: 9rem; //в rem
$topbarHeight: 3rem; //в rem

$breakpoint1: 992px; //header breackpoint
